*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #7e3eff;
  width: 100%;
  text-align: center;
}
nav{
  background-color: #0a0543;
  padding: 20px;
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
  color: white;
  margin-left: 20px;
  padding: 5px;
  border-radius: 3px;
}

a:hover{
  background-color: #fff;
}

h2{
  color: rgb(83, 248, 253);
  margin-right: 40px;
  cursor: pointer;
}
ul{
  display: flex;
}
