<h1 class="text-warning">TV</h1>
<img src="../../../assets/Images/tv.jpg" alt="laptop" class="rounded w-50">
<div class="row p-5">
  <p class="text-light text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia fugiat ex vero, odit ratione enim quas debitis nihil perferendis vel nostrum dignissimos, animi, earum reprehenderit nam quo repellendus a aut. Doloremque tempore sunt alias minima in deserunt quia ratione. Odio voluptatibus deleniti.</p>
  <button class="btn btn-primary">BUY</button>

</div>

