<!-- comp1 -->
<div class="container mb-5">
  <div class="page-area">
    <div class="box m-5">
      <h3>Username is : <span class="text-warning">{{userName}}</span></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-5">
      <app-comp1></app-comp1>
    </div>
    <div class="col-md-6 mb-5">
      <app-comp2></app-comp2>
    </div>
    <div class="col-md-6 mb-5">
      <app-comp3></app-comp3>
    </div>
    <div class="col-md-6 mb-5">
      <app-comp4></app-comp4>
    </div>
  </div>
</div>
